In [2]:
import pandas as pd
import numpy as np

df_titulos = pd.read_csv("datos/netflix_titles.csv", index_col=0)
df_originals = pd.read_csv("datos/netflix_originals.csv", index_col=0)
pd.set_option("display.max_columns", None)
df_titulos.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,NaN,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,NaN,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

# Parte 1

## EDA Netflix_originals

In [33]:
df_originals.dtypes

Title          object
Genre          object
Premiere       object
Runtime         int64
IMDB Score    float64
Language       object
dtype: object

In [35]:
df_originals.isnull().sum()

#No tiene nulos

Title         0
Genre         0
Premiere      0
Runtime       0
IMDB Score    0
Language      0
dtype: int64

In [37]:
df_originals.duplicated().sum()

#No tiene duplicados

np.int64(0)

In [40]:
np.round(df_originals.loc[:,["IMDB Score", "Genre"]].value_counts(normalize=True)*100, 2)

IMDB Score  Genre
7.1         Documentary        2.53
7.3         Documentary        2.14
7.4         Documentary        1.75
5.8         Romantic comedy    1.75
6.4         Documentary        1.75
                               ...
5.0         Comedy             0.19
            Drama              0.19
            Romantic comedy    0.19
            Thriller           0.19
5.1         Action comedy      0.19
Name: proportion, Length: 305, dtype: float64

In [45]:
df_originals[["IMDB Score","Genre"]].value_counts()

IMDB Score  Genre
7.1         Documentary        13
7.3         Documentary        11
7.4         Documentary         9
5.8         Romantic comedy     9
6.4         Documentary         9
                               ..
5.0         Comedy              1
            Drama               1
            Romantic comedy     1
            Thriller            1
5.1         Action comedy       1
Name: count, Length: 305, dtype: int64

In [41]:
df_originals.shape

(513, 6)

In [43]:
df_originals.describe(include=object).T

         count unique                                       top freq
Title      513    513  David Attenborough: A Life on Our Planet    1
Genre      513    106                               Documentary  132
Premiere   513    350                          October 18, 2019    5
Language   513     37                                   English  352

**(las conclusiones de este dataframe las he movido al readme)**

## EDA Netflix_titles

In [3]:
df_titulos.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [4]:
df_titulos.shape

(8807, 12)

In [5]:
df_titulos["show_id"].value_counts()

show_id
s8807    1
s1       1
s2       1
s3       1
s4       1
        ..
s11      1
s12      1
s13      1
s14      1
s15      1
Name: count, Length: 8807, dtype: int64

In [28]:
df_titulos.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration        4813
listed_in          0
description        0
dtype: int64

In [7]:
df_titulos.duplicated(subset="title").sum()

#Hay titulos duplicados

np.int64(0)

In [8]:
df_titulos["type"].value_counts()

#Hay 6131 Movie y 2676 TV Show

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [10]:
np.round(df_titulos.loc[:,["rating", "type"]].value_counts(normalize=True)*100, 2)

rating    type
TV-MA     Movie      23.42
TV-14     Movie      16.21
TV-MA     TV Show    13.01
R         Movie       9.05
TV-14     TV Show     8.33
TV-PG     Movie       6.13
PG-13     Movie       5.57
TV-PG     TV Show     3.67
PG        Movie       3.26
TV-Y7     TV Show     2.22
TV-Y      TV Show     2.00
TV-Y7     Movie       1.58
TV-Y      Movie       1.49
TV-G      Movie       1.43
          TV Show     1.07
NR        Movie       0.85
G         Movie       0.47
NR        TV Show     0.06
TV-Y7-FV  Movie       0.06
UR        Movie       0.03
NC-17     Movie       0.03
R         TV Show     0.02
84 min    Movie       0.01
74 min    Movie       0.01
66 min    Movie       0.01
TV-Y7-FV  TV Show     0.01
Name: proportion, dtype: float64

In [11]:
df_titulos[["rating","type"]].value_counts()

rating    type
TV-MA     Movie      2062
TV-14     Movie      1427
TV-MA     TV Show    1145
R         Movie       797
TV-14     TV Show     733
TV-PG     Movie       540
PG-13     Movie       490
TV-PG     TV Show     323
PG        Movie       287
TV-Y7     TV Show     195
TV-Y      TV Show     176
TV-Y7     Movie       139
TV-Y      Movie       131
TV-G      Movie       126
          TV Show      94
NR        Movie        75
G         Movie        41
NR        TV Show       5
TV-Y7-FV  Movie         5
UR        Movie         3
NC-17     Movie         3
R         TV Show       2
84 min    Movie         1
74 min    Movie         1
66 min    Movie         1
TV-Y7-FV  TV Show       1
Name: count, dtype: int64

In [12]:
df_titulos.loc[:,["director","type"]].value_counts()

director                  type
Rajiv Chilaka             Movie    19
Raúl Campos, Jan Suter    Movie    18
Suhas Kadav               Movie    16
Marcus Raboy              Movie    15
Jay Karas                 Movie    14
                                   ..
Çagan Irmak               Movie     1
Ísold Uggadóttir          Movie     1
Óskar Thór Axelsson       Movie     1
Billy Corben              Movie     1
Rajiv Chilaka, Owll Mina  Movie     1
Name: count, Length: 4576, dtype: int64

In [13]:
df_titulos.loc[:,["director","type"]].value_counts(normalize=True)

director                  type
Rajiv Chilaka             Movie    0.003078
Raúl Campos, Jan Suter    Movie    0.002916
Suhas Kadav               Movie    0.002592
Marcus Raboy              Movie    0.002430
Jay Karas                 Movie    0.002268
                                     ...
Çagan Irmak               Movie    0.000162
Ísold Uggadóttir          Movie    0.000162
Óskar Thór Axelsson       Movie    0.000162
Billy Corben              Movie    0.000162
Rajiv Chilaka, Owll Mina  Movie    0.000162
Name: proportion, Length: 4576, dtype: float64

In [14]:
df_titulos.loc[:,"country"].value_counts()

country
United States                                    2818
India                                             972
United Kingdom                                    419
Japan                                             245
South Korea                                       199
                                                 ...
Russia, Spain                                       1
Croatia, Slovenia, Serbia, Montenegro               1
Japan, Canada                                       1
United States, France, South Korea, Indonesia       1
United Arab Emirates, Jordan                        1
Name: count, Length: 748, dtype: int64

In [15]:
df_titulos.loc[:,"country"].value_counts(normalize=True)

country
United States                                    0.353310
India                                            0.121866
United Kingdom                                   0.052533
Japan                                            0.030717
South Korea                                      0.024950
                                                   ...
Russia, Spain                                    0.000125
Croatia, Slovenia, Serbia, Montenegro            0.000125
Japan, Canada                                    0.000125
United States, France, South Korea, Indonesia    0.000125
United Arab Emirates, Jordan                     0.000125
Name: proportion, Length: 748, dtype: float64

In [30]:
df_titulos.describe(include=object).T

,count,unique,top,freq
show_id,8807,8807,s8807,1
type,8807,2,Movie,6131
title,8807,8807,Zubaan,1
director,6173,4528,Rajiv Chilaka,19
cast,7982,7692,David Attenborough,19
country,7976,748,United States,2818
date_added,8797,1767,"January 1, 2020",109
rating,8803,17,TV-MA,3207
duration,3994,185,2 Seasons,425
listed_in,8807,514,"Dramas, International Movies",362
description,8807,8775,"Paranormal activity at a lush, abandoned prope...",4

**(las conclusiones de este dataframe las he movido al readme)**

# Parte 2

In [16]:
df_concat = df_titulos.merge(df_originals, how="inner", right_on="Title", left_on="title")
df_concat.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Dick Johnson Is Dead,Documentary,"October 2, 2020",90,7.5,English
1,s142,Movie,Extraction,Steven C. Miller,"Bruce Willis, Kellan Lutz, Gina Carano, D.B. S...","United States, United Kingdom, Canada","September 1, 2021",2015,R,82 min,Action & Adventure,"When a retired CIA agent is kidnapped, his son...",Extraction,Action,"April 24, 2020",117,6.7,English
2,s625,Movie,Prime Time,Jakub Piątek,"Bartosz Bielenia, Magdalena Popławska, Andrzej...",NaN,"June 30, 2021",2021,TV-MA,NaN,"Dramas, International Movies, Thrillers","On New Year’s Eve 1999, an armed man enters a ...",Prime Time,Thriller,"April 14, 2021",91,5.7,Polish
3,s835,Movie,Blue Miracle,Julio Quintana,"Jimmy Gonzales, Dennis Quaid, Anthony Gonzalez...",United States,"May 27, 2021",2021,TV-PG,NaN,"Children & Family Movies, Dramas, Faith & Spir...","To save their cash-strapped orphanage, a guard...",Blue Miracle,Drama,"May 27, 2021",95,6.7,English
4,s837,Movie,Ghost Lab,Paween Purijitpanya,"Thanapob Leeratanakachorn, Paris Intarakomalya...",Thailand,"May 27, 2021",2021,TV-MA,118 min,"Horror Movies, International Movies, Thrillers","After witnessing a haunting in their hospital,...",Ghost Lab,Horror,"May 26, 2021",117,5.2,Thai

## Justificación del merge:

- He decido realizar un inner en el merge porque considero que es la forma de obtener menos nulos. Además tomo de referencia el dataframe de netflix_titles porque es el que más datos tiene. Los he unido a través de la columna title ya que he verificado que es unica y común entre los dos dataframes.

# Parte 3

### Uso de **loc**:

In [17]:
df_concat.loc[df_concat["type"] == "Movie"]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Dick Johnson Is Dead,Documentary,"October 2, 2020",90,7.5,English
1,s142,Movie,Extraction,Steven C. Miller,"Bruce Willis, Kellan Lutz, Gina Carano, D.B. S...","United States, United Kingdom, Canada","September 1, 2021",2015,R,82 min,Action & Adventure,"When a retired CIA agent is kidnapped, his son...",Extraction,Action,"April 24, 2020",117,6.7,English
2,s625,Movie,Prime Time,Jakub Piątek,"Bartosz Bielenia, Magdalena Popławska, Andrzej...",NaN,"June 30, 2021",2021,TV-MA,NaN,"Dramas, International Movies, Thrillers","On New Year’s Eve 1999, an armed man enters a ...",Prime Time,Thriller,"April 14, 2021",91,5.7,Polish
3,s835,Movie,Blue Miracle,Julio Quintana,"Jimmy Gonzales, Dennis Quaid, Anthony Gonzalez...",United States,"May 27, 2021",2021,TV-PG,NaN,"Children & Family Movies, Dramas, Faith & Spir...","To save their cash-strapped orphanage, a guard...",Blue Miracle,Drama,"May 27, 2021",95,6.7,English
4,s837,Movie,Ghost Lab,Paween Purijitpanya,"Thanapob Leeratanakachorn, Paris Intarakomalya...",Thailand,"May 27, 2021",2021,TV-MA,118 min,"Horror Movies, International Movies, Thrillers","After witnessing a haunting in their hospital,...",Ghost Lab,Horror,"May 26, 2021",117,5.2,Thai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,s5902,Movie,Tig,"Kristina Goolsby, Ashley York",Tig Notaro,United States,"July 17, 2015",2015,TV-14,NaN,"Documentaries, Stand-Up Comedy",Comedian Tig Notaro announced her cancer diagn...,Tig,Documentary,"July 17, 2015",80,7.4,English
509,s5907,Movie,"What Happened, Miss Simone?",Liz Garbus,NaN,United States,"June 26, 2015",2015,TV-14,NaN,"Documentaries, Music & Musicals","Using never-before-heard recordings, rare arch...","What Happened, Miss Simone?",Documentary,"June 26, 2015",84,7.6,English
510,s5911,Movie,Hot Girls Wanted,"Jill Bauer, Ronna Gradus",NaN,United States,"May 29, 2015",2015,TV-MA,83 min,Documentaries,This 2015 Sundance Film Festival breakout docu...,Hot Girls Wanted,Documentary,"May 29, 2015",84,6.1,English
511,s5913,Movie,The Other One: The Long Strange Trip of Bob Weir,Mike Fleiss,Bob Weir,United States,"May 22, 2015",2015,TV-14,84 min,"Documentaries, Music & Musicals",This chronicle of Bob Weir highlights his brot...,The Other One: The Long Strange Trip of Bob Weir,Documentary,"May 22, 2015",83,7.3,English
512,s5917,Movie,My Own Man,David Sampliner,David Sampliner,United States,"March 6, 2015",2015,TV-MA,82 min,Documentaries,When a man discovers he will be the father to ...,My Own Man,Documentary,"December 13, 2014",81,6.4,English

In [18]:
df_concat.loc[df_concat["type"] == "TV Show",["title", "duration", "type"]]

Empty DataFrame
Columns: [title, duration, type]
Index: []

In [19]:
df_concat.loc[df_concat["country"] == "United States"]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Dick Johnson Is Dead,Documentary,"October 2, 2020",90,7.5,English
3,s835,Movie,Blue Miracle,Julio Quintana,"Jimmy Gonzales, Dennis Quaid, Anthony Gonzalez...",United States,"May 27, 2021",2021,TV-PG,NaN,"Children & Family Movies, Dramas, Faith & Spir...","To save their cash-strapped orphanage, a guard...",Blue Miracle,Drama,"May 27, 2021",95,6.7,English
7,s854,Movie,Army of the Dead,Zack Snyder,"Dave Bautista, Ella Purnell, Omari Hardwick, G...",United States,"May 21, 2021",2021,R,148 min,"Action & Adventure, Horror Movies","After a zombie outbreak in Las Vegas, a group ...",Army of the Dead,Zombie/Heist,"May 21, 2021",148,5.9,English
11,s890,Movie,The Woman in the Window,Joe Wright,"Amy Adams, Gary Oldman, Anthony Mackie, Fred H...",United States,"May 14, 2021",2021,R,NaN,"Dramas, Thrillers","Confined to her home by agoraphobia, a psychol...",The Woman in the Window,Psychological thriller,"May 14, 2021",100,5.7,English
14,s911,Movie,Monster,Anthony Mandler,"Kelvin Harrison Jr., Jennifer Hudson, Jeffrey ...",United States,"May 7, 2021",2021,TV-MA,NaN,Dramas,A talented teen implicated in a robbery-turned...,Monster,Drama,"May 7, 2021",98,6.5,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,s5902,Movie,Tig,"Kristina Goolsby, Ashley York",Tig Notaro,United States,"July 17, 2015",2015,TV-14,NaN,"Documentaries, Stand-Up Comedy",Comedian Tig Notaro announced her cancer diagn...,Tig,Documentary,"July 17, 2015",80,7.4,English
509,s5907,Movie,"What Happened, Miss Simone?",Liz Garbus,NaN,United States,"June 26, 2015",2015,TV-14,NaN,"Documentaries, Music & Musicals","Using never-before-heard recordings, rare arch...","What Happened, Miss Simone?",Documentary,"June 26, 2015",84,7.6,English
510,s5911,Movie,Hot Girls Wanted,"Jill Bauer, Ronna Gradus",NaN,United States,"May 29, 2015",2015,TV-MA,83 min,Documentaries,This 2015 Sundance Film Festival breakout docu...,Hot Girls Wanted,Documentary,"May 29, 2015",84,6.1,English
511,s5913,Movie,The Other One: The Long Strange Trip of Bob Weir,Mike Fleiss,Bob Weir,United States,"May 22, 2015",2015,TV-14,84 min,"Documentaries, Music & Musicals",This chronicle of Bob Weir highlights his brot...,The Other One: The Long Strange Trip of Bob Weir,Documentary,"May 22, 2015",83,7.3,English
512,s5917,Movie,My Own Man,David Sampliner,David Sampliner,United States,"March 6, 2015",2015,TV-MA,82 min,Documentaries,When a man discovers he will be the father to ...,My Own Man,Documentary,"December 13, 2014",81,6.4,English

In [20]:
df_concat.loc[df_concat["type"] == "Movie",["title", "director"]]

,title,director
0,Dick Johnson Is Dead,Kirsten Johnson
1,Extraction,Steven C. Miller
2,Prime Time,Jakub Piątek
3,Blue Miracle,Julio Quintana
4,Ghost Lab,Paween Purijitpanya
...,...,...
508,Tig,"Kristina Goolsby, Ashley York"
509,"What Happened, Miss Simone?",Liz Garbus
510,Hot Girls Wanted,"Jill Bauer, Ronna Gradus"
511,The Other One: The Long Strange Trip of Bob Weir,Mike Fleiss
512,My Own Man,David Sampliner

In [21]:
df_concat.loc[df_concat["type"] == "Movie", ["title", "director"]]

,title,director
0,Dick Johnson Is Dead,Kirsten Johnson
1,Extraction,Steven C. Miller
2,Prime Time,Jakub Piątek
3,Blue Miracle,Julio Quintana
4,Ghost Lab,Paween Purijitpanya
...,...,...
508,Tig,"Kristina Goolsby, Ashley York"
509,"What Happened, Miss Simone?",Liz Garbus
510,Hot Girls Wanted,"Jill Bauer, Ronna Gradus"
511,The Other One: The Long Strange Trip of Bob Weir,Mike Fleiss
512,My Own Man,David Sampliner

In [22]:
df_concat.loc[df_concat["release_year"] == 2018, ["title", "listed_in"]]

,title,listed_in
251,Little Miss Sumo,"Documentaries, International Movies, Sports Mo..."
320,Nappily Ever After,"Comedies, Dramas, Romantic Movies"
324,Period. End of Sentence.,Documentaries
331,Soni,"Dramas, Independent Movies, International Movies"
334,Lionheart,"Comedies, Dramas, Independent Movies"
...,...,...
413,The Cloverfield Paradox,"Action & Adventure, Sci-Fi & Fantasy"
414,A Futile and Stupid Gesture,Comedies
415,Step Sisters,Comedies
416,The Open House,"Horror Movies, Thrillers"
417,The Polka King,"Comedies, Independent Movies"

In [23]:
df_concat.loc[df_concat["director"] == "", ["title"]]

Empty DataFrame
Columns: [title]
Index: []

### Uso de **iloc**

In [24]:
df_concat.iloc[:6,[2,3,5]]

,title,director,country
0,Dick Johnson Is Dead,Kirsten Johnson,United States
1,Extraction,Steven C. Miller,"United States, United Kingdom, Canada"
2,Prime Time,Jakub Piątek,NaN
3,Blue Miracle,Julio Quintana,United States
4,Ghost Lab,Paween Purijitpanya,Thailand
5,Baggio: The Divine Ponytail,Letizia Lamartire,Italy

In [46]:
df_concat.iloc[-5:,[2,11]]

,title,description
508,Tig,Comedian Tig Notaro announced her cancer diagn...
509,"What Happened, Miss Simone?","Using never-before-heard recordings, rare arch..."
510,Hot Girls Wanted,This 2015 Sundance Film Festival breakout docu...
511,The Other One: The Long Strange Trip of Bob Weir,This chronicle of Bob Weir highlights his brot...
512,My Own Man,When a man discovers he will be the father to ...

In [48]:
df_concat.iloc[10,2:6]

title                                          I Am All Girls
director                                        Donovan Marsh
cast        Erica Wessels, Hlubi Mboya, Deon Lotz, Brendon...
country                                          South Africa
Name: 10, dtype: object

In [49]:
df_concat.iloc[-7:,[2,3,5]]

,title,director,country
506,Winter on Fire: Ukraine's Fight for Freedom,Evgeny Afineevsky,"United Kingdom, Ukraine, United States"
507,Keith Richards: Under the Influence,Morgan Neville,United States
508,Tig,"Kristina Goolsby, Ashley York",United States
509,"What Happened, Miss Simone?",Liz Garbus,United States
510,Hot Girls Wanted,"Jill Bauer, Ronna Gradus",United States
511,The Other One: The Long Strange Trip of Bob Weir,Mike Fleiss,United States
512,My Own Man,David Sampliner,United States

In [51]:
df_concat.iloc[15:26,0:5]

,show_id,type,title,director,cast
15,s960,Movie,The Disciple,Chaitanya Tamhane,"Aditya Modak, Arun Dravid, Sumitra Bhave, Deep..."
16,s965,Movie,Things Heard & Seen,"Robert Pulcini, Shari Springer Berman","Amanda Seyfried, James Norton, Natalia Dyer, A..."
17,s967,Movie,Get the Grift,Pedro Antonio,"Marcus Majella, Samantha Schmütz, Caito Mainie..."
18,s1024,Movie,Ajeeb Daastaans,"Shashank Khaitan, Raj Mehta, Neeraj Ghaywan, K...","Fatima Sana Shaikh, Jaideep Ahlawat, Armaan Ra..."
19,s1025,Movie,Arlo the Alligator Boy,Ryan Crego,"Michael J. Woodard, Mary Lambert, Brett Gelman..."
20,s1051,Movie,Ride or Die,Ryuichi Hiroki,"Kiko Mizuhara, Honami Sato, Yoko Maki, Anne Su..."
21,s1071,Movie,Why Did You Kill Me?,Fredrick Munk,NaN
22,s1086,Movie,Night in Paradise,Park Hoon-jung,"Um Tae-goo, Jeon Yeo-been, Cha Seoung-won, Lee..."
23,s1089,Movie,Thunder Force,Ben Falcone,"Melissa McCarthy, Octavia Spencer, Jason Batem..."
24,s1093,Movie,Dolly Parton: A MusiCares Tribute,NaN,Dolly Parton
25,s1106,Movie,Concrete Cowboy,Ricky Staub,"Idris Elba, Caleb McLaughlin, Jharrel Jerome, ..."

In [52]:
df_concat.iloc[20:31:,[2,7,8]]

                                title  release_year rating
20                        Ride or Die          2021  TV-MA
21               Why Did You Kill Me?          2021  TV-MA
22                  Night in Paradise          2021  TV-MA
23                      Thunder Force          2021  PG-13
24  Dolly Parton: A MusiCares Tribute          2021  TV-PG
25                    Concrete Cowboy          2021      R
26                       Just Say Yes          2021  TV-MA
27                      Madame Claude          2021  TV-MA
28               Tersanjung the Movie          2021  TV-14
29                        A Week Away          2021  TV-PG
30                           Bad Trip          2021  TV-MA